html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  text-align: center;
  min-height: 100vh;
  font: 16px/1.6 sans-serif;
}

img.intro-photo {
  width: 100%;
  position: relative;
  bottom: -8px;
  border-radius: 8px 8px 0 0;
}

.container {
  color: #ffffff;
  max-width: 380px;
  margin: 20px auto;
  padding: 10px;
  display: inline-block;
}

div.intro {
  padding-bottom: 0;
}

.intro-description {
  background-color: #283e50;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 20px;
}

p {
  padding: 20px 10px;
  line-height: 1.6rem;
}

a.btn {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 0;
}

a.btn.rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #000;
}

a.btn.start {
  background-color: #0197f6;
}

a.btn.rules:hover {
  background-color: #1cbb96;
}

a.btn.start:hover {
  background-color: #0090e9;
}