html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font: 1rem/1.6 sans-serif;
  min-height: 97vh;

}

main.intro {
  display: flex;
  width: 24rem;
  margin: 1.25rem auto;
}

div.intro__game {
  display: flex;
  flex-direction: column;
}

img.intro__picture {
  width: 100%;
  margin-top: 10px;
  border-radius: 0.5rem 0.5rem 0 0;
}

div.intro__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
  background-color: #283e50;
  padding: 0.6rem;
}

h1.intro__title {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 1.25rem;
}

p.intro__text {
  padding: 1.25rem 0.7rem;
  text-align: center;
}

a.intro__btn {
  display: block;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  padding: 0.8rem 0;
}

.intro__btn--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #000;
}

.intro__btn--rules:hover {
  background-color: #1cbb96;
}

.intro__btn--start {
  background-color: #0197f6;
}

.intro__btn--start:hover {
  background-color: #0090e9;
}