html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* TASK 1 - INTRO */

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font: 1rem/1.6 sans-serif;
  min-height: 100vh;
}

main.intro {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  width: 24rem;
}

div.intro__game {
  display: flex;
  flex-direction: column;
}

img.intro__picture {
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: 30px;
  width: 100%;
}

div.intro__description {
  background-color: #283e50;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.6rem;
}

h1.intro__title {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 500;
  padding-top: 1.25rem;
}

p.intro__text {
  padding: 1.25rem 0.7rem;
  text-align: center;
}

a.intro__btn {
  color: #ffffff;
  display: block;
  padding: 0.8rem 0;
  text-decoration: none;
  text-align: center;
}

.intro__btn--rules {
  background-color: #1fcca4;
  border-bottom: 1px solid #000;
}

.intro__btn--rules:hover {
  background-color: #1cbb96;
}

.intro__btn--start {
  background-color: #0197f6;
}

.intro__btn--start:hover {
  background-color: #0090e9;
}


/* GAME */

main .game {
  color: #fff;
  margin: 0 auto;
  max-width: 80vmin;
}

h1.game__title {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.game__navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.game__player {
  display: flex;
  justify-content: center;
}

p.game__player--now {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

span.game__player--circle {
  align-self: center;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-left: 0.5rem;
}

span.game__player--cross {
  align-self: center;
  display: inline-block;
  height: 1.5rem;
  margin-left: 0.5rem;
  width: 1.5rem;
  position: relative;
}

span.game__player--cross:before,
span.game__player--cross:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 4px;
  width: 100%;
}

span.game__player--cross:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

span.game__player--cross:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}


.game__buttons {
  display: flex;
  gap: 10px;
}

a.game__button--home,
a.game__button--restart {
  border-radius: 0.4rem;
  height: 2.9rem;
  padding: 0.7rem;
  /* width: 2.8rem; */
}

a.game__button--home {
  background-color: #1fcca4;
}

a.game__button--restart {
  background-color: #0197f6;
}

a.game__button--home:hover {
  background-color: #1cbb96;
}

a.game__button--restart:hover {
  background-color: #0090e9;
}

/* TASK 2 - GRID */

.game__field {
  display: flex;
  flex-wrap: wrap;
}

.game__field--btn {
  background-color: rgb(255, 255, 255, 0.4);
  border: 1px solid #000;
  cursor: pointer;
  flex: 0 0 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__field--btn:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.game__field--btn:hover,
.game__field--btn:focus {
  background-color: rgb(255, 255, 255, 0.6);
}

/* TASK 3 - CIRCLE & CROSS  */

.game__field--circle {
  position: relative;
}

.game__field--circle::before {
  content: '';
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 6px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  background: none;

}

.game__field--cross {
  position: relative;
}

.game__field--cross::before,
.game__field--cross::after {
  content: '';
  width: 6px;
  height: 100%;
  position: absolute;
  top: 2%;
  left: 45%;
  display: inline-block;
  background-color: #000;
}

.game__field--cross::before {
  transform: rotate(45deg);
}

.game__field--cross::after {
  transform: rotate(-45deg);
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}